#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.booproj
*.csproj
*.unityproj
*.pidb
Library/
Help/
Temp/
*.sln
*.apk
*.orig
*.tmp
px.userprefs
obj/
.vs/
Xcode
UnityTheme
UnityTheme.meta
px_PC.zip
packages
packages.config
UnityVS.px.sln.DotSettings
Assets/IGSoft_Resources/Projects/
Assets/IGSoft_Resources/Scripts/
Assets/IGSoft_Tools/FXMaker/ToolScript/Temp.meta
Assets/Addon/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll
Assets/Addon/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
Assets/Addon/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll
Assets/Addon/UnityVS/Editor/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
Assets/Addon/UnityVS/Editor.meta
Utils/OldHooks
Utils/Hooks
px.app/
px_Data/Managed/Mono.Security.dll
px_Data/
px.bar
Assets/AutoPilot
builds
Assets/BuildReport/
~$*
Assets/Addon/UnityVS/
Assets/Addon/UnityVS.meta
UnityVS.px.CSharp.csproj
UnityVS.px.CSharp.Editor.csproj
UnityVS.px.CSharp.Plugins.csproj
UnityVS.px.sln
Assets/UnityVS/
Assets/Scripts/jcy/
Assets/Plugins/APlus Assets Explorer(Free)/
Assets/Plugins/APlus Assets Explorer(Free).meta
Utils/Hooks/Python/Lib/
Assets/Addon/Haste/Editor/InternalResources/Recommendations.asset
Assets/UnityVS.meta
Assembly-CSharp-vs.csproj.DotSettings
Assets/Prefab.meta
Assets/Addon/Haste/Editor/InternalResources/Recommendations.asset.meta
.sonar/
sonar-project.properties
TestForDesigners_Data/
px.zip
Test
Assets/CombatEventLog.txt
Assets/DownloadResources/
Assets/Addon/BMFont/
*.obb
Assets/CombatEventLog.txt.meta
Assets/Standard Assets/Addon/AssetBundleManager.meta
Assets/Standard Assets/Addon/AssetBundleManager/Editor.meta
px_dev.userprefs
.idea/
Assets/Plugins/Editor/JetBrains/
temp.unitypackage
